footer{
    background-color: $dark-grey-color;
    border-top: 6px solid $primary-color;
    
    p{
        color:#FFF;
        font-weight: 600;
        font-size: 1rem;
        margin:1rem 0px 0.5rem 1.5rem;
    }

}