h2.gallery-title{
    color: #FFF;
    position: absolute;
    bottom:0.5%

}

.gallery-title-background{
    background:url('../images/gallery-background.svg') no-repeat;
    background-size: cover;
    height: 13rem;

    
}